name: Pywnedpassword CI

on:
  push:
    branches:
      - master
    tags:
    release:
      types: [published]
  pull_request:
  schedule:
    - cron:  '0 5 * * 2'


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-22.04, macos-latest, windows-latest ]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]


    steps:
    - uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Installation - *nix
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt
        pip install .

    - name: Pytest
      run: |
        pytest pywnedpasswords/tests/

    - name: flake8
      run: |
        flake8 pywnedpasswords

    - name: black
      run: |
        black --safe --check pywnedpasswords
